.Grand-titre{
    font-size : 2em;
    color: #0F5530;
}

.Logo{
  width: 125px  ;
  height: 125px;
}
 .Information_personnelle {
    margin-left : 50px;
    margin-right : 50px;
 }

.main_haut{
    margin-top : 25px;
}