.main_haut{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}
.Grand-titre{
    font-size : 5em;
    color: #0F5530;
}
.bas_accueil{
    display: flex;
    justify-content : space-between   
    
}
.gauche_accueil {
  width: 600px;  
}
.droite_accueil {
    display: flex;
    width: 600px;
    flex-direction: column
}
.card {
    background-color: #FAF7F2;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

 .bouton_compte {

    background-color: #0F5530;      
    color: #C73833;                   
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;             
    cursor: pointer;
    transition: all 0.5s ease; 


 }
 .image_compte {

padding: 12px 24px;

 }