.haut{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}
.Grand-titre{
    font-size : 5em;
}
.bas{
    display: flex;
    justify-content : space-between
    
    
    
}
.gauche {
  width: 600px;  
}
.droite {
    display: flex;
    width: 600px;
    flex-direction: column
}