.main_haut{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}
.Grand-titre{
    font-size : 4em;
    color: #0F5530;
}
.bas_accueil{
    display: flex;
    justify-content : space-between   
    
}
.gauche_accueil {
  
  border:thin #0F5530 solid;

}
.basgauche_accueil {
  border:thin #0F5530 solid;

}
.droite_accueil {
   border:thin #0F5530 solid;
}


.millieu_accueil{

    border:thin #0F5530 solid;
}

.millieu_bas{

    border:thin #0F5530 solid;
}



.card {
    background-color: #FAF7F2;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

 .bouton_compte {

    background-color: #0F5530;      
    color: #C73833;                   
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;             
    cursor: pointer;
    transition: all 0.5s ease; 


 }
 .image_compte {

padding: 12px 24px;

 }

 .Information_personnelle {
    margin-left : 200px;
    margin-right : 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-around;
    padding: 50px;
    justify-content: center;
    background-color: white; 
    border: thin black solid;
    border-radius: 30px;
 }
 .bas_profil {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

 }
 .Annuler{ background-color: white; 
    border: thin black solid;
    border-radius: 10px;
    padding : 5px;
    gap: 0px;
}
.Enregistrer{ background-color: grey; 
    border: thin black solid;
    border-radius: 10px;
    padding : 5px;
    gap: 0px;
}